.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
.bb{
    border: 1px solid #dacbbc; color: #c8af99;
}
.enlever{
    background-color: none;
}